################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/.vs
EventsApi.Data/obj
EventsApi.Data/bin

EventsApi.Models/obj
EventsApi.Models/bin

EventsApi.WebApi/obj
EventsApi.WebApi/bin

EventsApi.UnitTests/obj
EventsApi.UnitTests/bin

EventsApi.IntegrationTests/obj
EventsApi.IntegrationTests/bin
*.bak
*.lscache
*.Development.json
