################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventsApi/bin/Debug/net8.0
/EventsApi/obj
/.vs/
